.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; /* Change as needed */
}

.navbar-left {
  flex: 1;
}

.navbar-right {
  display: flex;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  width: 90px; 
  height: 90px;
  border-radius: 50%; 
  background-color: orange; 
  color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Send Flowers" ;
}

.nav-item {
  margin-left: 10px; /* Adjust spacing between items */
}

.nav-link {
  text-decoration: none;
  color: #000; /* Change link color as needed */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.send-flowers-regular {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}